$basic-white-color: $white;
$basic-black-color: $black;
$basic-dark-color: #283747;
$basic-orange-color: $yellow;
$basic-text-color: $gray-700;

$basic-shadow-color: rgba($black, .1);
$basic-second-shadow-color: rgba($basic-text-color, .1);
$basic-second-shadow-hover-color: rgba($basic-text-color, .8);
$basic-light-color: rgba($white, .1);

$frontpage-hero-color: rgba($basic-dark-color, .97);
